# Ignora a pasta .venv 
.venv/
venv/
env/

# Ignora as planilhas com dados pessoais
data/*.xlsx
data/*.csv

data/dados_teste.csv
data/dados_teste.xlsx

# Ignora os certificados que o Python vai gerar (pra não lotar o GitHub de fotos)
output/

# Arquivos temporários que o Python cria sozinho
__pycache__/
*.py[cod]
*$py.class

# Configurações pessoais do VS Code 
.vscode/

# Arquivos invisíveis do Windows/Mac
Thumbs.db
.DS_Store